<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="projects">
                    <i class="fas fa-code me-2"></i> Projects
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/skills">
                    <i class="fas fa-user-graduate me-2"></i> Skills
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="contact">
                    <i class="fas fa-envelope me-2"></i> Contact
                </NavLink>
            </li>
        </ul>
    </nav>
</div>
